@charset "UTF-8";
/* xs - óñòðîéñòâà (äî 576px) */
@media (max-width: 575px) {
  /* CSS äëÿ øèðèíû äî 575px (âêëþ÷èòåëüíî) */ }

/* sm-óñòðîéñòâà (áîëüøå èëè ðàâíî 576px) */
@media (min-width: 576px) and (max-width: 768px) {
  .tel_number_hide {
    display: block; }
  .nav ol {
    display: none; }
  .telephone_number {
    display: none; }
  .side_bar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .button_off {
    display: block; }
  .button_on {
    margin-top: -16px; }
  .upper_words {
    font-size: 26px;
    line-height: 32px; }
  .arrange p {
    font-size: 19px;
    line-height: 27px; }
  .name_of_article {
    font-size: 22px;
    line-height: 27px; }
  .Who_We_Are h2 {
    margin-bottom: 30px; }
  .Who_We_Are p {
    font-size: 16px;
    line-height: 22px;
    margin-right: 35px; }
  .Who_We_Are p:last-child {
    margin-top: 25px; }
  .Who_We_Are_pict img {
    display: none; }
  .Who_We_Are_pict_small {
    display: block;
    text-align: right; }
    .Who_We_Are_pict_small img:first-child {
      margin-top: 107px;
      margin-bottom: 15px; }
  .event_1 {
    margin-top: 17px; }
  .events_picture img {
    width: 229px;
    height: 264px; }
  .events_picture figcaption {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 34px; }
  .event_3 {
    margin-top: -59px; }
  .event_4, .event_6 {
    margin-top: 0; }
  .event_5 {
    margin-top: -59px; }
  .Recent_Events {
    margin-top: 54px; }
  .events_small img {
    width: 239px;
    height: 276px; }
  .events_middle img {
    display: none; }
  .recent_event_2 img {
    display: none; }
  .recent_event_2 {
    background-image: url("../img/Small_party.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 276px;
    border-radius: 15px;
    background-position: 0 -35px; }
  .recent_event_4 {
    background-image: url("../img/small_pool.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 276px;
    border-radius: 15px;
    background-position: 0 -35px; }
  .recent_event_5 {
    background-image: url("../img/small_spider.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 276px;
    border-radius: 15px; }
  .recent_event_6 {
    background-image: url("../img/small_under.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 276px;
    border-radius: 15px;
    background-position: 0 -35px; } }

/* CSS äëÿ: 576px <= øèðèíû <= 767px */
/* md-óñòðîéñòâà (áîëüøå èëè ðàâíî 768px) */
@media (min-width: 768px) and (max-width: 992px) {
  .head {
    font-size: 18px;
    line-height: 21.94px; }
  .my {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav ol {
    display: none; }
  .button_off {
    width: 65px;
    margin-left: 62px; }
  .telephone_number p {
    margin-right: 61px; }
  .button_off {
    display: block; }
  .name_of_article {
    font-size: 26px;
    line-height: 32px; }
  .Who_We_Are h2 {
    margin-bottom: 73px; }
  .Who_We_Are p {
    font-size: 18px;
    line-height: 24px; }
  .Who_We_Are_pict img {
    width: 226px;
    height: 312px; }
  .Who_We_Are_pict img:last-child {
    margin-top: 112px; }
  .Who_We_Are_pict img:first-child {
    margin-top: 155px;
    margin-right: 18px; }
  .events_picture img {
    width: 215px;
    height: 308px; }
  .events_picture figcaption {
    font-size: 18px;
    line-height: 22px; }
  .Recent_Events {
    margin-top: 52px; }
  .events_small img {
    width: 210px;
    height: 298px; }
  .events_middle img {
    display: none; }
  .recent_event_2 img {
    display: none; }
  .recent_event_2 {
    background-image: url("../img/Small_party.png");
    background-repeat: no-repeat;
    height: 298px;
    border-radius: 15px; }
  .recent_event_4 {
    background-image: url("../img/small_pool.png");
    background-repeat: no-repeat;
    height: 298px;
    border-radius: 15px; }
  .recent_event_5 {
    background-image: url("../img/small_spider.png");
    background-repeat: no-repeat;
    height: 298px;
    border-radius: 15px; }
  .recent_event_6 {
    background-image: url("../img/small_under.png");
    background-repeat: no-repeat;
    height: 298px;
    border-radius: 15px; } }

/* CSS äëÿ: 768px <= øèðèíû <= 991px */
/* lg-óñòðîéñòâà (áîëüøå èëè ðàâíî 992px) */
@media (min-width: 992px) and (max-width: 1200px) {
  .head {
    font-size: 18px;
    line-height: 21.94px; }
  .nav img {
    margin-right: 15px; }
  .nav ol li {
    margin-right: 30px; }
  .telephone_number p {
    margin-right: 13px;
    margin-left: -15px; }
  .Who_We_Are_pict img {
    width: 297px; }
  .events_picture img {
    width: 290px;
    height: 406px; }
  .events_small img {
    width: 210px;
    height: 298px; }
  .recent_event_2 img {
    width: 450px;
    height: 298px; }
  .events_middle img {
    width: 290px;
    height: 298px; } }

/* CSS äëÿ: 992px <= øèðèíû <= 1119px */
/* xl-óñòðîéñòâà (áîëüøå èëè ðàâíî 1200px) */
@media (min-width: 1200px) {
  /* CSS äëÿ: øèðèíû >= 1200px */ }
