@charset "UTF-8";
/* xs - óñòðîéñòâà (äî 576px) */
@media (max-width: 575px) {
  /* CSS äëÿ øèðèíû äî 575px (âêëþ÷èòåëüíî) */ }

/* sm-óñòðîéñòâà (áîëüøå èëè ðàâíî 576px) */
@media (min-width: 576px) and (max-width: 768px) {
  .tel_number_hide {
    display: block; }
  .nav ol {
    display: none; }
  .telephone_number {
    display: none; }
  .side_bar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .button_off {
    display: block; }
  .button_on {
    margin-top: -16px; }
  .upper_words {
    font-size: 26px;
    line-height: 32px; }
  .arrange p {
    font-size: 19px;
    line-height: 27px; } }

/* CSS äëÿ: 576px <= øèðèíû <= 767px */
/* md-óñòðîéñòâà (áîëüøå èëè ðàâíî 768px) */
@media (min-width: 768px) and (max-width: 992px) {
  .head {
    font-size: 18px;
    line-height: 21.94px; }
  .my {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav ol {
    display: none; }
  .button_off {
    width: 65px;
    margin-left: 62px; }
  .telephone_number p {
    margin-right: 61px; }
  .button_off {
    display: block; } }

/* CSS äëÿ: 768px <= øèðèíû <= 991px */
/* lg-óñòðîéñòâà (áîëüøå èëè ðàâíî 992px) */
@media (min-width: 992px) and (max-width: 1200px) {
  .head {
    font-size: 18px;
    line-height: 21.94px; }
  .nav img {
    margin-right: 15px; }
  .nav ol li {
    margin-right: 30px; }
  .telephone_number p {
    margin-right: 13px;
    margin-left: -15px; } }

/* CSS äëÿ: 992px <= øèðèíû <= 1119px */
/* xl-óñòðîéñòâà (áîëüøå èëè ðàâíî 1200px) */
@media (min-width: 1200px) {
  /* CSS äëÿ: øèðèíû >= 1200px */ }
