body 
	font-family: "Montserrat"
.head	
	align-items: center	
	font-size: 20px
	line-height: 24.38px	
#check
	display: none
.button_off
	display: none
.button_on
	display: none
.tel_number_hide
	display: none
label
	cursor: pointer
.side_bar
	display: flex
	align-items: center
	position: relative
	z-index: 1
.button_on
	padding: 165px 16px
	width: 320px
	
	background: rgba(18, 18, 18, 0.97)
	position: absolute
	top: -55px
	right: 0
	z-index: 3
	height: 100vw
	ol
		li:last-child 
			
	img 
		position: absolute
		top: 41px
		right: 16px
	ol		
		li
			margin-bottom: 20px
			a 
				font-size: 24px
				line-height: 29,26px
				color: white
		li:last-child 
			margin-bottom: 40px
.tel_number_hide
	p 
		font-size: 24px
		line-height: 29,26px
		color: white
		margin-bottom: 50px
	a 
		font-size: 24px
		line-height: 29,26px
		color: white
		border: 3px solid white
		box-sizing: border-box
		border-radius: 15px
		padding: 10px 15px
		font-weight: bold
input + label > .button_on
	display: none
input:checked + label > .button_off
	display: none
input:checked + label > .button_on
	display: block
.nav
	padding: 27px 0 27px 0
	display: flex
	img
		margin-right: 45px
	ol
		display: flex
		align-items: center
		li
			margin-right: 40px
			a 
				color: #222222
		li:last-child
			margin-right: 0						
.telephone_number
	display: flex
	justify-content: flex-end
	align-items: center
	p
		margin-right: 36px
		color: #222222
	a 
		color: #5C2DBB		
		border: 3px solid #5C2DBB
		box-sizing: border-box
		border-radius: 15px
		padding: 15px 15px
		font-weight: bold
	a:hover
			background: #5C2DBB
			color: white
			text-decoration: none
.big_img
	background: white url('../img/Rectangle_2.png') no-repeat center center fixed
	min-height: 729px
	color: white
.arrange
	p 
		font-size: 27px
		line-height: 38px
		margin-bottom: 53px
	a 
		font-weight: bold
		font-size: 20px
		line-height: 24px
		color: white
		background: #5C2DBB
		padding: 23px 51px
		border-radius: 15px
.upper_words
	font-size: 36px
	line-height: 44px
	font-weight: bold
	text-transform: uppercase
	margin-top: 143px
	margin-bottom: 30px
.name_of_article
	font-size: 30px
	line-height: 37px
	font-weight: bold
	color: #5C2DBB
.Who_We_Are
	h2		
		margin-top: 50px
		margin-bottom: 75px
	p 
		font-size: 20px
		line-height: 27px
		color: #222222
		margin-right: -15px
	p:last-child
		margin-top: 30px
.Who_We_Are_pict
	display: flex
	justify-content: flex-end
	img 
		width: 270px
		height: 384px
	img:first-child
		margin-top: 162px
		margin-right: 30px
	img:last-child
		margin-top: 117px	
.Who_We_Are_pict_small	
	display: none
.Events_Variety
	margin-top: 50px
figcaption
	margin-top: 25px
	margin-bottom: 30px
	font-size: 20px
	line-height: 24px
	color: #222222
figcaption:last-child
	margin-bottom: 0
.event_1
	margin-top: 30px
.event_2
	margin-top: 75px
.event_3
	margin-top: 120px
.event_4
	margin-top: -90px
.event_5
	margin-top: -45px
.events_picture
	img 
		width: 350px
		height: 406px
.Recent_Events
	margin-top: 50px
	margin-bottom: 30px
.events_small
	img
		width: 255px
		height: 298px
		margin-bottom: 30px
.recent_event_2
	img 
		width: 540px
		height: 298px
		margin-bottom: 30px
.events_middle
	img 
		width: 350px
		height: 298px

		